:host {
  font-weight: 400;
  box-sizing: border-box;
  padding: 0 10px;

  .head_block {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(243, 243, 243);
  }

  .container {
    max-width: 1165px;
  }

  .content-menu-border {
    border-bottom: #333 1px solid;
  }

  .info-header {
    margin-top: 40px;
    position: relative;

    h1 {
      font-size: 36px;
      color: #000;
      font-weight: 500;
    }

    .logo-block {
      min-width: 400px;

      img {
        position: absolute;
        right: 0;
        top: 0;
        height: 170px;
      }
    }
  }
  
  .description {
    display: flex;
    flex-direction: column;
    padding-right: 0;
    padding-left: 0;

    .college-description {
      max-width: 960px;
    }  
  }

  .no-wrap {
    flex-wrap: nowrap;
    align-items: flex-end;
    li {
      padding-bottom: 5px;
    }
    a {
      line-height: 1;
      font-size: 1.5rem;
      color: #000;
      white-space: nowrap;
      text-decoration: none;
      cursor: pointer;

      &.active {
        border-bottom: solid 3px blue;
      }
      &:before {
        content: none;
      }
    }
  }

  .college-description ::ng-deep {
    font-size: 1.4rem;
  
    ul, ol {
      padding-right: 20px;
      padding-bottom: 15px;
    }
  
    p {
      padding-bottom: 15px;
    }
  
    table {
      tr, td {
        border: 1px solid var(--color-border);
      }
    }
  
    a {
      text-decoration: underline;
      color: var(--blue);
    }
  
    img {
      height: auto !important;
    }
  }

  @media (min-width: 1200px) {
    .college-description {
      padding-right: 20px;
    }
  }
  @media (min-width: 700px) {
    .information {
      padding-top: 20px !important;
    }
  }
  @media (max-width: 575px) {
    .information {
      .container {
        padding: 1rem;
      }
    }
    .college-description {
      padding: 0 3rem;
    }
  }
  @media (max-width: 480px) {
    .info-header {
      margin-right: 15px;
      height: auto;
  
      h1 {
        font-size: 28px;
        font-weight: 400;
      }
    }
    .college-description {
      padding-left: 15px;
    }
  }
}